body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.app {
  text-align: center;
  margin-top: 60px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  width: 220px;
}
